.dialog_container{
  width: 50%;
  height: 25em;
  background: cadetblue;
  margin: 100% auto 0 auto;
  border-radius: 1em;
  position:relative;
  animation: slide 1s forwards;
}

@keyframes slide {
  100% { margin: 10% auto; }
}

.todo_edit_form{
  width: 100%;
  margin 5em auto;
}

.dialog_title{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.todo_edit_form .form-group{
  margin: auto;
  width: 70%;
}

.dialog_footer{
  margin: 1em auto;
  width: 100%;
}

.dialog_footer .btn{
  width: 30%;
  margin: 2em auto;
  display: block;
}

.dialog_footer .btn a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 700px) {
  .dialog_container{
    width: 80%;
  }
}