{% extends 'todos/base.html' %}
{% load static %}
{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}">

  <h2 class="applicationHeader">TODO APPLICATION</h2>
  <hr>

  <div class="todoItems">
    {% if todo_items %}
      <ul>
        {% for todo in todo_items %}
        <li class="todoList">
          <div class="todoText">
            <input type="radio", name="selectedItem", id="selectedItem" style="margin-right:1em;">
            <p style="display: inline-block;">{{todo.todo_text}}</p>
            <p><i class="fa fa-calendar"></i>{{todo.due_date|date:"M d, Y h:i:s"}}</p>
            <script>
              timer_interval("{{todo.id}}" , "{{ todo.due_date|date:"M d, Y h:i:s" }}");
            </script>
            <p style="text-align: center" class="todo_item{{todo.id}}"></p>
          </div>
          <div class="editAndDeleteButton">
            <button class="btn btn-primary"><a href="{% url 'todos:edit' todo.id %}"><i class="fa fa-edit"></i></a></button>
            <button class="btn btn-primary"><a href="{% url 'todos:delete' todo.id %}"><i class="fa fa-trash"></i></a></button>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add New Task</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="todoForm">
              <form action="{% url 'todos:addTodo' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="addTodo">What do you want to add?</label>
                  <input type="text" class="form-control" id="addTodo"  name="todo_text" placeholder="Description">
                </div>
                <div class="form-group" style="margin-top: 1em;">
                  <label for="addTodo">Would you like to get email notification?(Optional)</label>
                  <input type="email" class="form-control" id="email_notification"  name="email_notification" placeholder="example@example.com">
                </div>
                <div class="form-group">
                  <label>Select a category : </label>
                  <select style="width: 30%;" name="todo_category">
                   {% for category in category_items %}
                    <option value={{category.id}}>{{category.category_name}}</option>
                   {% endfor %}
                  </select>
                </div>
                <div class="dateField">
                  <div class="input-group date" id="dateCreated" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input"  name ="date_created" value="{{current_date}}" placeholder="Date created" data-target="#dateCreated"/>
                    <div class="input-group-append" data-target="#dateCreated" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                  <div class="input-group date" id="dueDate" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input"  name ="due_date" placeholder="Due date" data-target="#dueDate"/>
                    <div class="input-group-append" data-target="#dueDate" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <!-- The Modal -->
      <div class="modal" id="category_Modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Create Category</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="categoryForm">
                <form action="{% url 'todos:addCategory' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="addTodo">Which category do you want to add?</label>
                    <input type="text" class="form-control" id="addCategory"  name="category_name" placeholder="Description">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
      <!-- The Modal -->
    {% for category in category_items %}
      <div class="modal" id={{category.category_name}}>
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Items In {{category.category_name}} Category</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              {% for todo in todo_items %}
                {% if todo.category_id  == category.id %}
                  <p>{{todo.todo_text}}</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}

